# see: https://zenn.dev/mamushi/articles/hide_generated_file_diff
# 自動生成ファイルの diff をGithub Pull Requestに表示しないようにする
*.freezed.dart linguist-generated=true
*.g.dart linguist-generated=true
*.gen.dart linguist-generated=true
*.gr.dart linguist-generated=true
