name: Flutter ci

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.7.3'
          channel: 'stable'
          cache: true
      
      - name: Run flutter version
        run: flutter --version

      - name: Run flutter pub get
        run: flutter pub get
        
      - name: Run flutter pub run build_runner
        run: flutter pub run build_runner build --delete-conflicting-outputs
      
      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .
      
      - name: Run import_sorter
        run: flutter pub run import_sorter:main --exit-if-changed
      
      - name: Run flutter test
        run: flutter test

      - name: Debug Build tasks (apk)
        run: |
          flutter build apk --debug --dart-define-from-file=dart_define/development.json
          
      - name: Upload build outputs (APKs)
        uses: actions/upload-artifact@v3
        with:
          name: build-outputs
          path: build/app/outputs/flutter-apk
        
      # Check flutter static analysis (Danger)
      - name: Install matcher
        run: echo "::add-matcher::.github/analyzer-problem-matcher.json"

      - name: Run flutter analyze
        shell: bash
        run: |
          flutter analyze | tee ./flutter_analyze_report.txt
      - name: Remove matcher
        if: always()
        run: echo "::remove-matcher owner=dart-analyzer::"

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        if: always()
        with:
          ruby-version: '2.7'
          bundler-cache: true

      - name: Danger
        uses: MeilCli/danger-action@v5
        if: always()
        with:
          plugins_file: 'Gemfile'
          install_path: 'vendor/bundle'
          danger_file: 'Dangerfile'
          danger_id: 'danger-pr'
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
